[submodule "fmt"]
    path = ThirdParty/fmt
    url = git@github.com:fmtlib/fmt.git

[submodule "SFML"]
    path = ThirdParty/SFML
    url = git@github.com:SFML/SFML.git

[submodule "spdlog"]
    path = ThirdParty/spdlog
    url = git@github.com:gabime/spdlog.git
